<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Illusion of Control - Rollen S. D'Souza - $title$</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.css" integrity="sha256-4qZ1QSIYOVsj+ZFnDfdWu1Ijeku2kc7bECqJDAeFL+Y=" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com"></link>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@700&family=IBM+Plex+Serif&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body class="bg-light">
    <div class="container-sm d-flex flex-column" style="max-width: 80ch">
      <header class="flex-grow-0">
        <div class="logo">
          <a href="/" style="text-decoration: none; color: unset; text-align: center;">
            <h1>The Illusion of Control</h1>
            <h5>Rollen S. D'Souza</h5>
          </a>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav nav-fill mb-lg-0">
                <li class="nav-item mx-2">
                  <div class="d-flex align-items-center justify-content-center">
                    <img src="/images/home.svg" class="m-0" style="width: 1rem; $IconHomeStyle$" alt="Home Icon">
                    <a $LinkHomeProperties$ style="padding-right: 0" href="/">Home</a>
                  </div>
                </li>

                <li class="nav-item mx-2">
                  <div class="d-flex align-items-center justify-content-center">
                    <img src="/images/briefcase.svg" class="m-0" style="width: 1rem; $IconPublicationsStyle$" alt="Publications Icon">
                    <a $LinkPublicationsProperties$ style="padding-right: 0" href="/publications.html">Publications</a>
                  </div>
                </li>

                <li class="nav-item mx-2">
                  <div class="d-flex align-items-center justify-content-center">
                    <img src="/images/idea.svg" class="m-0" style="width: 1rem; $IconAboutStyle$" alt="About My Work Icon">
                    <a $LinkAboutProperties$ style="padding-right: 0"  href="/about.html">About My Work</a>
                  </div>
                </li>

                <li class="nav-item mx-2">
                  <div class="d-flex align-items-center justify-content-center">
                    <img src="/images/archive-1.svg" class="m-0" style="width: 1rem; $IconArchiveStyle$" alt="Archive Icon">
                    <a $LinkArchiveProperties$ style="padding-right: 0"  href="/archive.html">Archive</a>
                  </div>
                </li>

                <li class="nav-item mx-2">
                  <div class="d-flex align-items-center justify-content-center">
                    <img src="/images/paper-plane.svg" class="m-0" style="width: 1rem; $IconContactStyle$" alt="Contact Me Icon">
                    <a $LinkContactProperties$ style="padding-right: 0" href="/contactme.html">Contact Me</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <main
        class="bg-white flex-grow-1"
        style="
          border-bottom-left-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
          border: 0.1rem solid var(--bs-dark);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
          text-align: justify;
        "
      >
          $body$
      </main>

      <footer
        class="flex-grow-0"
        style="text-align: center; padding-top: 1rem"
      >
        <h6>
          Site proudly generated by <a href="http://jaspervdj.be/hakyll">Hakyll</a> and styled using <a href="https://getbootstrap.com/">Bootstrap</a>.
          Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.
        </h6>
      </footer>
    </div>

    <script src="/scripts/bootstrap.bundle.js" integrity="sha256-gs8oDbqgNtJmRTiBCEyHPU7IFfB20CXdFX8QN+Zioog="></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <!-- Configuring MathJaX to support Equation Numbering -->
    <script>
      MathJax = {
        loader: {
          load: ['[tex]/tagformat']
        },
        tex: {
          tags: 'all',
          packages: {'[+]': ['tagformat']}
        }
      };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
  </body>
</html>
