<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Illusion of Control - Rollen S. D'Souza - $title$</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="/css/bootstrap.css"
      integrity="sha256-cZhDidP60GTuDYEbCy00ztCGSDR2DvY+rCrMow4fcow="
    />
    <link
      rel="stylesheet"
      href="/css/rollends.ca.css"
      integrity="sha256-hsEsYo/agfzGikdZIBZco/IImyw4demfOiCekHyiUAE="
    />

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="container-sm d-flex flex-column" style="max-width: 120ch">
      <header>
        <div class="d-flex flex-nowrap justify-content-center">
          <a
            href="/"
            class=""
            style="
              text-align: center;
              text-decoration: none;
              color: unset;
            "
          >
            <h1>The Illusion of Control</h1>
            <h5>Rollen S. D'Souza</h5>
          </a>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav nav-fill mb-lg-0">
                <li class="nav-item mx-2">
                  <div class="d-inline-flex">
                    <img src="/images/home.svg" class="m-0" style="width: 1rem; $IconHomeStyle$" alt="Home Icon">
                    <a $LinkHomeProperties$ style="margin-left: 0.5em" href="/">Home</a>
                  </div>
                </li>

                <li class="nav-item mx-2">
                  <div class="d-inline-flex">
                    <img src="/images/briefcase.svg" class="m-0" style="width: 1rem; $IconPublicationsStyle$" alt="Publications Icon">
                    <a $LinkPublicationsProperties$ style="margin-left: 0.5em" href="/publications.html">Publications</a>
                  </div>
                </li>

                <li class="nav-item mx-2">
                  <div class="d-inline-flex">
                    <img src="/images/archive-1.svg" class="m-0" style="width: 1rem; $IconArchiveStyle$" alt="Archive Icon">
                    <a $LinkArchiveProperties$ style="margin-left: 0.5em"  href="/archive.html">Archive</a>
                  </div>
                </li>

                <li class="nav-item mx-2">
                  <div class="d-inline-flex">
                    <img src="/images/paper-plane.svg" class="m-0" style="width: 1rem; $IconContactStyle$" alt="Contact Me Icon">
                    <a $LinkContactProperties$ style="margin-left: 0.5em" href="/contactme.html">Contact Me</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main
        class="bg-white flex-grow-1"
        style="
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
          text-align: justify;
        "
      >
          $body$
      </main>

      <footer class="flex-grow-0 site-footer">
        Site proudly generated by <a href="http://jaspervdj.be/hakyll">Hakyll</a> and styled using <a href="https://getbootstrap.com/">Bootstrap</a>.
        Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.
      </footer>
    </div>

    <script src="/scripts/bootstrap.bundle.js" integrity="sha256-FDpsoZwSVa4O6J4/JNdkLmmZPtKV4fyJ/jtwbEmycRs="></script>
    <script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?version=4.8.0&features=es6"></script>
    <!-- Configuring MathJaX to support Equation Numbering -->
    <script>
      MathJax = {
        loader: {
          load: ['[tex]/tagformat']
        },
        tex: {
          tags: 'all',
          packages: {'[+]': ['tagformat']}
        },
        svg: {
          scale: 1,                      // global scaling factor for all expressions
          minScale: .5,                  // smallest scaling factor to use
          mtextInheritFont: true,        // true to make mtext elements use surrounding font
          merrorInheritFont: true,       // true to make merror text use surrounding font
          mathmlSpacing: false,          // true for MathML spacing rules, false for TeX rules
          skipAttributes: {},            // RFDa and other attributes NOT to copy to the output
          exFactor: .8,                  // default size of ex in em units
          displayAlign: 'center',        // default for indentalign when set to 'auto'
          displayIndent: '0',            // default for indentshift when set to 'auto'
          fontCache: 'local',            // or 'global' or 'none'
          localID: null,                 // ID to use for local font cache (for single equation processing)
          internalSpeechTitles: true,    // insert <title> tags with speech content
          titleID: 0                     // initial id number to use for aria-labeledby titles
        },
      };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
  </body>
</html>
