<article itemscope itemtype="http://schema.org/BlogPosting" class="d-flex flex-column">
  <header>
    <h1 id="post-title" itemprop="headline">$title$</h1>
    <link itemprop="url" href="#post-title">
  </header>
  $body$
  <footer class="footer" style="text-align: right">
    $if(author)$
      <span itemprop="creator" itemscope itemtype="http://schema.org/Person">
        <h6>&mdash;<span itemprop="name" class="script">$author$</span></h6>
      </span>
    $endif$
    <time itemprop="datePublished" datetime="$date$">$date$</time>
  </footer>
</article>
